<a href="https://colab.research.google.com/github/virtualacademy-pk/python/blob/main/Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Types**

*   Every input taken from user required memory location to store data.
*   Every value has its own python data type. 
*   The classification of data items is called Data Types. 
*   It helps to understand what kind of operations can be performed on a value.
*   Every momory location is given a name as per naming rules of python (Upcomming section) 
*   This named memory location is called **Variable**

**Python Numbers**

Python includes three numeric types to represent numbers: integers, float, and complex number.
*   Integer
> *   In Python, integers are zero, positive or negative whole numbers without a fractional part and having unlimited precision, e.g. 0, 100, -10. The followings are valid integer literals in Python.
> *   There is no maximum limit on the value of an integer. The integer can be of any length without any limitation which can go up to the maximum available memory of the system. 
> *   in below code snippet x, y and z are called variable its value represent a numeric value of decimal number system

In [ ]:
x = 45
y = -89
print ( type(x)) 
print (y)

<class 'int'>
-89

Type

**Checking the Type of variable**

Variable type can be check with **type()** function

In [ ]:
x = 32

print (type(x))

<class 'int'>

**Variable Input**
Let take an input, store it in variable and check its type

In [ ]:
x = input("Enter a number: ")
print (type(x))

Enter a number: Yhjkhkj
<class 'str'>

in above snippted it can be seen that even you provide a numeric value while input its data type is 'str' which is text value. this is because input function consider all user input as a text value. for arithmetic operation we need to convert into int data type

In [ ]:
x = int (input("Enter a number: "))
print (type(x))

Enter a number: 87
<class 'int'>

**Binary, Octal & hexademical number**

till now we observe that integers are decimal. But python allow you to save octact, binary and hexadecimal values as well

In [ ]:
b = 0b10
print ("This is binary value: ")
print (b)
o = 0o17
print ("This is octal value: ")
print (o)
h = 0x10
print ("This is hexadecimal value: ")
print (h)

This is binary value:
2
This is octal value:
15
This is hexadecimal value:
16

*   Floating Point
> *   The difference between floating points and integers is decimal points. Floating point number can be represented as “1.0”, and integer can be represented as “1”. It is accurate up to 15 decimal places.

*   Complex Numbers
> *   Will Discuss Later in advance topics

In [30]:
x = float(input("Enter price of mobile: "))
print(x)

Enter price of mobile: 8
8.0

**Exponent Form in float**

In [33]:

x = 1.2e5
print (x)

120000.0